.navbar2 {
  position: fixed;
  height: 100vh;
  width: 5%;
  top: 40%;
  z-index: 5;
}

.navbar2 .nav-list {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.navbar2 .nav-items {
  display: flex;
  justify-content: baseline;
}

.navbar2 .nav-items a {
  display: none;
  text-decoration: none;
}

.navbar2 .nav-items:hover {
  width: 20px;
  cursor: pointer;
}

.navbar2 .nav-items:hover a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #915bff;
  border-radius: 15px;
  width: fit-content;
  height: 30px;
  white-space: nowrap;
  text-align: center;
  color: white;
}

.navbar2 .nav-items:hover i {
  display: none;
}

.navbar2 i {
  font-size: 10px;
  color: grey;
}
